* {
  list-style-type: none;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

li {
  padding: 10px;
  text-transform: uppercase;
}
